[2018-06-13 11:17] bijington opened #2 "GestureRecognizers are lost when using GlideX"
In our application we add GestureRecognizers to handle tap events on images but it seems that by enabling Glide it then stops those working.

Just a simple example of what we have configured.

    <Image Source="{Binding Thumbnail.Value}"
           Grid.Row="3"
           IsVisible="{Binding ShowAttachment}"
           Aspect="AspectFit"
           BackgroundColor="Transparent"
           Horizon

[2018-06-13 13:42] jonathanpeppers commented on #2
If you take glidex's `ImageRenderer` as a starting point and get it to work, send a PR!

Here is XF's source, I used as a starting point myself: https://github.com/xamarin/Xamarin.Forms/blob/master/Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs

I am working on a PR for Xamarin.Form itself, where glidex shouldn't need custom renderers anymore. We would be able to get by just using `

[2018-06-14 07:51] bijington commented on #2
@jonathanpeppers thanks for the pointer. I would agree that it makes sense to retain the gesture handling within Xamarin Forms.

Out of interest (and I appreciate this is probably a difficult question to answer) do you have any indication of when your PR is likely to make it in to a release assuming all goes well? I would be fine with waiting if it isn't going to be a long time.

[2018-06-14 12:59] jonathanpeppers commented on #2
Even if merged quickly, I bet it wouldn’t get released until Xamarin.Forms 3.1 or 3.2 (but really I have no idea).

If you need gestures soon, I would look into making a custom renderer.

[2018-06-14 13:41] bijington commented on #2
@jonathanpeppers I suspected as much. Thanks I will likely head down the route of a custom renderer.

I did attempt a quick investigation however I rather embarrassingly struggled to get my new custom renderer to override your ImageRenderer. I must have missed something though so I will look back in to it.

[2018-06-14 13:46] jonathanpeppers commented on #2
You should be able to copy what I did here: https://github.com/jonathanpeppers/glidex/blob/065f02664e8034207aa9cc2afb4e3f83f14c9e42/glidex.forms/ImageRenderer.cs#L9

Although... I'm not sure what would make Xamarin.Forms pick _your_ renderer over the Glide one. I don't know how that ordering works...

Maybe you should clone this repo and try making the change in Glide? I'll help you through a pull

[2018-06-15 07:12] bijington commented on #2
@jonathanpeppers that is what I had initially tried but it didn't work and I couldn't even hit a breakpoint in my new renderers constructor. Perhaps I needed to clean and redeploy.

I will have a further play and see, failing that I will look to clone the repo and make the change like you suggested.

[2018-06-21 13:30] jonathanpeppers commented on #2
@bijington don't try doing this one yourself...

I can't figure out a way to make it work currently, since glidex's renderer is based on the "fast" `ImageRenderer`.

To get gestures to work, it requires usage of internal classes: https://github.com/xamarin/Xamarin.Forms/blob/d72e8dd43bde3c57d45f1a95f7a8b52d044d93a5/Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs#L79

https://github.c

[2018-06-22 11:49] bijington commented on #2
@jonathanpeppers thanks for the update. With your planned PR for Xamarin Forms will this get around the issue? If so then I am happy to wait.

[2018-06-22 11:55] jonathanpeppers commented on #2
Yeah the PR would mean glidex would not have to make a custom renderer.

[2018-06-22 11:57] bijington commented on #2
That is fine with me then. Feel free to close this down.

[2018-07-09 14:21] kelvice opened #3 "Problem with glidex when i've updated the visual studio version"
I've been using your Glidex library in my xamarin forms projectes without problems... But a colleague, updated to the last version of visual studio and the render of the controls is horrible... It has broken everything... What can i do? I have looked for information but i haven't found anything. I copy to you the image of the login before and after:

Thank you for your help.

Previous version:

![

[2018-07-09 14:23] jonathanpeppers commented on #3
What version of Xamarin.Forms are you using?

This should be in your `packages.config` or a `<PackageReference />` in your `*.csproj`.

Also I would try this (just to verify):
- Does a `Rebuild` fix it?
- If you manually delete all `bin`/`obj` folders, restart Visual Studio, and try again does it fix it?

[2018-07-09 14:29] kelvice commented on #3
The xamarin forms version is -->  id="Xamarin.Forms" version="2.3.4.270"

And i have tried everything, Rebuild, clean, delete manually bin/obj and reset, uninstall app..... But everything is the same, not fixed :-(

[2018-07-09 14:36] jonathanpeppers commented on #3
Hmm, minimum version of Xamarin.Forms for glidex.forms is 2.4.0.280: https://www.nuget.org/packages/glidex.forms/1.0.0

If you are upgrading Xamarin.Forms, I would disable glidex temporarily and test the upgrade by itself:
[code]

Put it back after you verified the Xamarin.Forms upgrade is working fine.

[2018-07-09 22:35] BillyMartin1964 commented on #2
@jonathanpeppers
Even after uninstalling GlideX.forms, the gesture recognizers fail to work. What type of Permanent change could it have done to my Xamarin Forms Android project and how can I get it back?

[2018-07-09 22:49] jonathanpeppers commented on #2
@BillyMartin1964 uninstall the app?

Perhaps this is a bug in Fast Deployment, I’ll make a note to test this.

[2018-07-09 23:57] BillyMartin1964 commented on #2
@jonathanpeppers , Yes. I unistalled the nuget package and commented out the init in main activity, but the gesture recognizers still wouldn't work. Fortunately I had backed up just prior to trying glidex! Lol Please let me know when it's stable. It sounds like a great package.

[2018-07-12 10:06] kelvice commented on #3
Hello again, I have updated xamarin and it works :-)

But i have found another thing. Everything works fine, but if i have the app open and i close the app going back and it crashes. It throws an unhandled exception that is:
"Unable to activate instance of type Android.Glide.ImageRenderer from native handle 0xbffbdcac (key_handle 0x80d5fbd)."

It doesn't affect to the app performance but it's not

[2018-07-12 13:48] jonathanpeppers commented on #3
I have been working on a new release, and I think I saw this myself and fixed it: https://github.com/jonathanpeppers/glidex/commit/d28d13fe1d740a6d329effdbf816122a8e4eaebb

Maybe this is a good enough fix to to warrant an update. I also updating Glide itself.

[2018-07-12 13:57] kelvice commented on #3
Ok thank you for the fast answer :-) And when will you upload the update? Only to know :-)

[2018-07-12 14:09] jonathanpeppers commented on #3
I just pushed an update that should be available shortly: https://www.nuget.org/packages/glidex.forms/1.0.1

Test it out for me and let me know if something broke! I have no QA team, it's just me.

Closing this for now.

[2018-07-12 14:09] #3 closed

[2018-08-13 16:36] jonathanpeppers commented on #2
So this got merged in Xamarin.Forms master: https://github.com/xamarin/Xamarin.Forms/pull/3045

It should be in the _next_ preview (after the 3.2.x series).

When that preview comes out, I'll make a preview package of `glidex.forms` using it. And gestures should work again!

[2018-08-13 21:56] BillyMartin1964 commented on #2
Gestures are pretty freaking important don't you think? Can't believe you want to wait on something so important.

[2018-08-13 22:13] jonathanpeppers commented on #2
@BillyMartin1964 keep in mind this is a project I work on in my copious spare time. I will accept pull requests, no problem! I would even help you get it merged!

What do you mean “wait”? The XF pull request above is mine, and the path forward. How do you recommend I proceed?

[2018-08-13 23:10] BillyMartin1964 commented on #2
I meant no offense to YOU. I just meant that gestures are a big part of images. Microsoft made it a point to brag about how much GlideX speeded up Xamarin Forms Android. Microsoft should throw some of their vast money at it and give you help!

[2018-08-14 02:14] jonathanpeppers commented on #2
@BillyMartin1964 Ok, good to know.

I think this project has done what it was meant to do:
1. Show how poor `Image` performance is on Android in Xamarin.Forms, with concrete examples.
1. Show a clear, Android-native route to improving `Image` performance.
1. Provide a NuGet package for people on the bleeding edge to try out in their Xamarin.Forms applications.

I think Glide (and the concepts here

[2018-08-14 08:48] bijington commented on #2
@jonathanpeppers excellent work on the PR! I look forward to trying it out in a not so distant XF release.

[2018-08-15 21:33] jonathanpeppers commented on #2
Guys go upvote this https://github.com/xamarin/Xamarin.Forms/issues/3577

It is happening!!!

[2018-08-16 00:46] BillyMartin1964 commented on #2
@jonathanpeppers  I'm having a problem when I hit the android back button and then resume the app:

Java.Lang.IllegalArgumentException: You cannot start a load for a destroyed activity

Everything I google says it's been a glide problem for a while, but after commenting it out in the main activity, uninstalling the app, and rebooting the phone, it still happens when I debug it again. I didn't try

[2018-08-16 01:01] jonathanpeppers commented on #2
@BillyMartin1964 can you open a new issue with the full error message you are getting? Post a link to what you found searching the web?

[2018-08-16 01:05] BillyMartin1964 commented on #2
@jonathanpeppers Yeah, I'll do that. I just uninstalled Glidex.Forms and my app works fine. Definitely Glide issue. Where do you want me to open the issue?

[2018-08-16 01:23] BillyMartin1964 opened #5 "Can't Use Android Back Button and Then Resume"
**I never had this error until I installed GlideX.Forms and it went away on uninstall and reboot.**

Unhandled Exception:

Java.Lang.IllegalArgumentException: You cannot start a load for a destroyed activity occurred

**Here's a 2016 Glide Issue:**
[Glide issue](https://github.com/bumptech/glide/issues/1484)

**And here's my output:**

[GlideXError.txt](https://github.com/jonathanpeppers/glidex/fi

[2018-08-16 01:25] BillyMartin1964 commented on #2
@jonathanpeppers , It's done.

[](https://github.com/jonathanpeppers/glidex/issues/5)

[2018-08-16 01:32] jonathanpeppers commented on #5
Did the link not paste?

I’ll search myself, perhaps they have a release of glide we can update to.

[2018-08-16 01:59] BillyMartin1964 commented on #5
@jonathanpeppers , Just emailed the link to your gmail

[2018-08-16 02:13] jonathanpeppers commented on #5
Oh the markdown did something funny, I see:
[code]

[2018-08-19 14:07] jonathanpeppers commented on #5
I'm putting an update on NuGet, I'll keep this open until we confirm it fixes it.

I can't reproduce it myself (even the same app as @BillyMartin1964), 😞

[2018-08-19 17:37] BillyMartin1964 commented on #5
The update stopped the crashing, but for some reason, I cannot get an image on my starting page while using GlideX.

It’s in a MasterDetail Page. Please try to put an image on that page and let me know. The one I wanted to use is in the drawables.

sunsetfishingbordered.png

From: Jonathan Peppers <notifications@github.com>
Sent: Sunday, August 19, 2018 10:18 AM
To: jonathanpeppers/glidex <glidex@

[2018-08-20 16:25] jonathanpeppers commented on #5
@BillyMartin1964 are you seeing any log messages with the `glidex` tag that was added?

https://github.com/jonathanpeppers/glidex/commit/81dac9bf07abc3a007aa5b232a678c4674916220

[2018-08-27 20:39] BillyMartin1964 commented on #5
Were you able to see the image @jonathanpeppers ?

[2018-10-15 21:00] jonathanpeppers commented on #2
@bijington or @BillyMartin1964 I released a preview NuGet based on the Xamarin.Forms 3.3 preview: https://www.nuget.org/packages/glidex.forms/1.0.3-pre

There are no longer any renderers, so gestures should work. Could you try it out and let me know?

When Xamarin.Forms goes stable, I'd like `glidex.forms` to go stable around the same time.

Closing this, as I think the prerelease solves this prob

[2018-10-15 21:00] #2 closed

[2018-10-24 21:29] jonathanpeppers opened #8 "Users need a way to know that Glide is actually being used"
Right now this library is a bit of magic, and you won't really know it kicked in unless we add a log message or something.

My current thought:
[code]

This would enable a log message for:
- `IImageViewHandler` creation
- Each image loaded

[2018-10-24 21:30] jonathanpeppers opened #9 "Update the ReadMe!"
duh! it's old and wrong

[2018-10-24 23:48] brminnick opened #10 "Image Does Not Appear When `HorizontalOptions = LayoutOptions.CenterAndExpand`"
Reproduction Sample:
https://github.com/brminnick/GlideX_HorizontalOptions_Repro

[2018-10-24 23:56] brminnick commented on #10
Repro Video: https://xamarinhq.slack.com/archives/DDP5G0KBQ/p1540424910000100

[2018-10-25 16:03] jonathanpeppers commented on #10
So this brings up a valid concern:
- Xamarin.Forms layouts tend to let the size of image content "push" layouts around. In other words, the size of the image impacts the layout.
- Glide, however, is implemented in reverse. It will scale/transforms/thumbnail images as they are loaded! Hence, an image set to `Center` will not grow when the image is loaded. It will load an image the size of the contr

[2018-10-25 16:06] #8 closed

[2018-10-25 16:06] #9 closed

[2018-10-31 20:36] brminnick commented on #10
Here's another example where the image doesn't appear; this time when it's inside of a `StackLayout`

[code]

![screenshot_1541018150](https://user-images.githubusercontent.com/13558917/47817067-f2a6cb80-dd11-11e8-9fa0-953429ed246c.png)

[2018-11-08 17:24] nasibu opened #14 "[Question] Configuration"
Hi Jonathan, great work! I would love to see a fully functional Glide in Xamarin. Is there a way to configure glidex from Xamarin.Android ? I saw, that you excluded the annotation package. But the official documentation says to use `@GlideModule` like

[code]

from [Glide Documentation](http://bumptech.github.io/glide/doc/configuration.html)

[2018-11-08 17:35] jonathanpeppers commented on #14
So I would need to look into how this actually works ^^ Hopefully it's not some gradle plugin or something that happens at build time?

Does Glide use Java reflection to find this type? It might work in Xamarin if I added the binding back for these types, and just documented how to do it.

[2018-11-08 22:36] jonathanpeppers commented on #14
The way this works is via "Java Annotation Processing", which happens at build time _unfortunately_...

So when `javac` is called, you pass something like:
[code]
Then `javac` generates Java code that makes the plumbing behind this work. However, Xamarin.Android does not have support for augmenting it's [Javac](https://github.com/xamarin/xamarin-android/blob/e4c15751253ed56cfedfd9d428d6129a5727462

[2018-11-12 10:06] nasibu commented on #14
Thank you for the quick reply. I need to configure location and size of the disk cache. In addition I have to use custom loaders. I think the only way to achieve this with Glide is to write a small Java wrapper and call this from Xamarin.Android.

[2018-11-12 17:52] jonathanpeppers commented on #14
@nasibu post what you get working, or if you get stuck.

It might be that I can add something to make this easier to work from C#/Xamarin.

[2018-11-15 14:00] meliksahk opened #15 "[Question] Probably my foult but it maybe help someone else (not compatiple with NetStandart2.0)"
When I want to install package glidex.forms from nuget I get this error set:
![image](https://user-images.githubusercontent.com/6935693/48557480-f2085a80-e8f7-11e8-8db7-9ab80b763854.png)

how can I fix this ?

[2018-11-15 14:55] jonathanpeppers commented on #15
@meliksahk you should only be installing it in the Xamarin.Android application project. Your net standard project doesn’t need it.

[2018-11-15 15:03] meliksahk commented on #15
@jonathanpeppers But what is the different with glidex and glidex.forms. I want to use glidex in xamarin forms so which one I have to install ?

[2018-11-15 19:22] jonathanpeppers commented on #15
`glidex` is just the binding for the Glide Java library. `glidex.forms` is the "glue" that makes it work inside Xamarin.Forms.

Install `glidex.forms` in your Xamarin.Android app project, and follow the example in the readme: https://github.com/jonathanpeppers/glidex/blob/master/README.md#glidexforms-for-xamarinforms-on-android

Closing for now, but feel free to let me know if you run into somethi

[2018-11-15 19:22] #15 closed

[2018-11-25 17:44] toomasz opened #16 "ImageButton: You must not call setTag() on a view Glide is targeting"
I noticed some images are not loaded when im using gliex.forms with my forms project. After enabling debug log following exception is there:

 Unexpected exception in glidex: Java.Lang.IllegalArgumentException: You must not call setTag() on a view Glide is targeting
11-25 18:35:38.650 W/glidex  (13060):   at Java.Interop.JniEnvironment+InstanceMethods.CallObjectMethod (Java.Interop.JniObjectRefere

[2018-11-25 18:07] toomasz commented on #16
One of the images started loading when I added WidthRequest and HeightRequest

Also ImageButton images doesn't seem to load, WidthRequest and HeightRequest doesn't help here.

[2018-11-26 17:07] jonathanpeppers commented on #16
@PureWeen ugh, seems like Glide uses `Tag` on the `ImageView` internally...

Is it possible to remove usage of `Tag` in `ImageButton`?

[2018-11-27 17:29] PureWeen commented on #16
https://github.com/xamarin/Xamarin.Forms/pull/4542

[2018-11-27 17:50] jonathanpeppers commented on #16
Ok, so as a workaround until a new Xamarin.Forms release, I could:
1. Make an `ImageButtonRenderer` in glidex.forms that subclasses the built-in Xamarin.Forms one
2. Set `Tag` to `null` in the constructor, the renderer would otherwise not do anything

This could plausibly solve the problem in the interim.

[2018-11-27 18:20] toomasz commented on #16
Removed problem with Image not visible without WidthRequest and HeightRequest, this is other issue , not related to this one as im not getting **You must not call setTag() on a view Glide is targeting** exception there

[2018-11-27 18:36] jonathanpeppers commented on #16
Yeah @toomasz see #10 about WidthRequest or HeightRequest.

I am unsure what to do on that one yet.

[2018-11-27 18:38] toomasz opened #17 "Unable to activate instance of type Xamarin.Forms.Platform.Android.FastRenderers.ImageRenderer"
Got this exception when setting following view in my app:

[code]

I guess it's this image on this specific page that is causing the problem because when removed, exception is gone.
If necessary, i can try to create repro when I have more time.

Stack trace:
[glidex_exception.txt](https://github.com/jonathanpeppers/glidex/files/2621377/glidex_exception.txt)

I'm using custom markup extension in my

[2018-11-27 18:50] toomasz commented on #16
Yeah maybe it's the same issue but my image is in Grid and seems to not be shown with any Horizontal/Vertical options. I will create repro when I'm free.

[2018-11-27 20:32] jonathanpeppers commented on #17
Hmm, this seems like a general problem with Xamarin.Forms or Xamarin.Android:
[code]

I don't see any glidex/glidex.forms code in this stacktrace.

Does it still happen if you remove Glide, and use the regular image handling in Xamarin.Forms?

[2018-11-27 20:33] jonathanpeppers commented on #17
What does your markup extension do? `{me:Image logo.png}`

It might be related.

[2018-11-27 20:34] toomasz commented on #17
@jonathanpeppers No, it happens only when Glide is used.

[2018-11-27 20:39] toomasz commented on #17
@jonathanpeppers I have included markup extension and related class. Just noticed it has caching mechanism already so i need to remove it as Glide should handle it.

[2018-11-27 20:50] jonathanpeppers commented on #17
@toomasz I will see if I can reproduce this. How big is the image (at largest dpi)? Nothing weird about the image file?

It might also be related to: https://github.com/xamarin/xamarin-android/issues/2049

Just asked the Mono runtime folks about this issue again, so perhaps there is a general fix here for Xamarin.Android.

[2018-11-27 20:52] jonathanpeppers commented on #17
@toomasz another idea to try, is to:

Add an `environment.txt` to the project with a build action of `AndroidEnvironment`:
[code]

If the crash goes away, we found a GC bug!

[2018-11-27 21:06] toomasz commented on #17
It's size is 691x574, don't think there is anything weird about it, it succesfully loads on Sign in page of my app, It just crashes on Signing out page.

Tried adding that to my `environment.txt` but crash is still there(I have rebuilt android project to be sure)

[2018-11-27 21:37] jonathanpeppers commented on #17
@toomasz one last question. How does the "signing out" work?

Is it changing `Application.MainPage`? Or just navigating?

[2018-11-27 21:39] toomasz commented on #17
@jonathanpeppers It's changing `Application.MainPage`. Anyway i will try to investigate this one as well on weekend. Btw, when i removed my caching mechanism exception is still there.

[2018-12-11 23:30] mikescandy opened #19 "Images don't load in Xamarin.Forms 4 when using Visual=Material"
As described in https://github.com/xamarin/Xamarin.Forms/issues/4674, when using XF4 and setting the ContentPage Visual to Material, images don't load.
The visual code uses ContextThemeWrapper to apply Material themes to controls, but in GlideExtensions.cs:
[code]
Without the else images are loaded correctly.

[2018-12-11 23:38] mikescandy opened #20 "Very laggy scroll when using GlideX in combination with FlexLayout and Bindable.ItemSource"
I'm using the new Bindable.ItemSource from Xamarin.Forms 4
[code]

and the datatemplate like
[code]

I'm setting the image source in the OnBindingContextChanged method in the template codebehind.

The FlexLayout is wrapped in a scrollview. When images are loaded, the scroll is very laggy. It works fine with the regulare imageview.

I found a few issues around Glide causing scrolls to lag, but most

[2018-12-12 03:18] jonathanpeppers commented on #20
Sure, if you can narrow down the problem it will be a bit easier to fix, thanks!

[2018-12-12 12:04] mikescandy commented on #20
I'm trying to narrow down the issue. What I found so far is that if I load the page straight away everything is fine (low overdraw, gpu profiler looks ok-ish) but when loading from the main page it lags.
Check out my branch https://github.com/mikescandy/glidex/tree/laggy .
If you select the flexlayout button from the mainpage it should lag. If you change app.xaml.cs and set the mainpage as flexlay

[2018-12-12 12:06] mikescandy commented on #19
I'm trying to produce a minimal case for this but I can't... (these bugs are killing me! 🤬🤬🤬)
I'll keep on trying....

[2018-12-12 15:04] mikescandy commented on #19
Got it! Please find a repro at https://github.com/mikescandy/glidex/tree/wrapbug . I forgot that to trigger the issue I had to:
- upgrade to XF4
- upgrade to Support Libraries v28.0.0-preview8
- target Android 9.0
BUT
not for the binding project. I think there's a different Xamarin android bug there
Anyway, this shows the issue (and it might be a good starting point if/when you plan to update to t

[2018-12-13 22:02] jonathanpeppers opened #21 "ImageCell broken with Xamarin.Forms 3.4"
See branch here: https://github.com/jonathanpeppers/glidex/compare/xf-4.0-pre

It broke even before enabling all the experimental shell/material stuff. So must be specific to XF 4.x?

Debugging, it doesn't seem to be hitting my `IImageViewHandler` at all.

[2018-12-13 22:04] jonathanpeppers commented on #19
So I started a branch here to try all the new stuff: https://github.com/jonathanpeppers/glidex/compare/xf-4.0-pre

Main thing I saw was `ImageCell` broke the moment I upgraded to 4.x: #21

I'll look at what might be happening when `glidex.csproj` has a `TargetFrameworkVersion=v8.1`.

[2018-12-13 22:08] mikescandy commented on #19
I think I saw an issue on xamarin.android that could be related to the binding project not compilinig, I'll see if I can link it here.

[2018-12-13 22:13] jonathanpeppers commented on #19
If the binding project had:
[code]
Then you have to use `TargetFrameworkVersion=v9.0`, right?

[2018-12-13 22:14] mikescandy commented on #19
no, I think support 28 can multitarget

[2018-12-13 22:30] jonathanpeppers commented on #21
I think this might be fixed by: https://github.com/xamarin/Xamarin.Forms/pull/4601

[2018-12-13 22:37] jonathanpeppers commented on #19
It is working for me, could it be that you have `-preview8` in your example, and I have `-preview9`?

The other thing is I'm using a master build of Xamarin.Android + VS 2019: https://jenkins.mono-project.com/view/Xamarin.Android/job/xamarin-android-builds-master/656/PublishUrls/

[2018-12-13 22:39] mikescandy commented on #19
I think the issue is fixed in master. I'll see if I can try that tomorrow too.

[2018-12-13 22:41] jonathanpeppers commented on #19
The only thing I remember is this: https://github.com/xamarin/xamarin-android/pull/2424

I think you would get a build error on incremental builds, though.

[2018-12-13 23:03] jonathanpeppers commented on #17
@toomasz did you end up finding out anything? One thing I noticed from the code above is it would do `new FileImageSource { File = "/logo.png" }`. You can also remove that caching there, as I don't think it will help your app. The `FileImageSource` type is a plain C# object, not very expensive to create new ones.

Trying this, I didn't hit a problem:
[code]

I also tried an enormous image from a U

[2018-12-14 05:44] jonathanpeppers commented on #19
Oh sorry @mikescandy I didn't read!

If that's the issue, yeah I fixed it in xamarin-android/master. Here is a workaround: https://github.com/jonathanpeppers/glidex/commit/861719f365eaed53c855f8bc5721a82729e9d51b

I think we can close this, unless you are seeing this in the Android device log: https://github.com/jonathanpeppers/glidex/blob/4c32d3ba7de6e6bcdfdf84ad7c61af0b94d3e6d3/glidex.forms/Glid

[2018-12-14 15:03] mikescandy commented on #19
I do see
[code]

[2018-12-14 15:12] jonathanpeppers commented on #19
Ok I searched XF for `ContextThemeWrapper`, and looks like this would happen with `<Image/>` inside a `<Frame/>`:
[code]
`MaterialFrameRenderer` has a `ContextThemeWrapper` as its `Context`, and it would "pass it on" to its children.

[2018-12-14 15:13] mikescandy commented on #19
That's how I triggered it in  https://github.com/mikescandy/glidex/tree/wrapbug

[2018-12-14 16:07] #19 closed

[2018-12-16 01:19] toomasz commented on #17
@jonathanpeppers Didn't find anything yet. I need to find time to create repro.

[2018-12-16 01:20] toomasz commented on #16
@jonathanpeppers Not sure if this is related but i got this exception when i tried last Glidex and Glidex.Forms compiled from latest commit:
[code]

[2018-12-17 05:38] PureWeen commented on #16
@toomasz  a fix for that will be available in the 3.5 release of Forms

[2018-12-17 22:43] jonathanpeppers commented on #16
It looks like a lot could be null inside `ImageButtonRenderer.Draw`, so not sure what is happening?

I don't see a commit that fixes something like this? https://github.com/xamarin/Xamarin.Forms/commits/master/Xamarin.Forms.Platform.Android/AppCompat/ImageButtonRenderer.cs

@PureWeen do you know which PR it is? I might be able to add _another_ workaround to override `Draw` and either return out or

[2018-12-17 22:49] PureWeen commented on #16
Oops :-/ Apologies on that one.. I didn't look at the stacktrace close enough

I'll poke it and figure out where the NRE is coming from. Nothing is jumping out at me right away but should be easy enough to reproduce and fix quickly with 3.5

[2018-12-18 00:31] PureWeen commented on #16
Yea it looks like when using GlideX there's a draw pass where the drawable hasn't been set yet so there's a null exception on the line where it's setting the bounds of the Drawable

I'll get a PR in for 3.5 that checks for null.

In the meantime :-/ a renderer like this does fix the issue

[code]

[2018-12-18 01:37] PureWeen commented on #16
https://github.com/xamarin/Xamarin.Forms/pull/4783

[2018-12-18 03:05] jonathanpeppers commented on #16
@toomasz can you try this `*.nupkg` and see if it works for you? https://ci.appveyor.com/project/jonathanpeppers/glidex/builds/21079587/artifacts

I tried to reproduce the bug myself, but it wasn't happening...

[2018-12-18 03:34] PureWeen commented on #16
@jonathanpeppers The NRE exception in Draw?
You have to set the BackgroundColor of the ImageButton in order for the NRE exception to happen

[2018-12-18 13:03] toomasz commented on #16
@jonathanpeppers I tried your packages, app does not crash with NullRefException but ImageButton doesnt display image and I saw  `Java.Lang.IllegalArgumentException: You must not call setTag() on a view Glide is targeting` in logcat. Maybe you want access to my repo? Seems my app is good for reproducing bugs. Im hosting on bitbucket so just give me your username.

[2018-12-18 17:37] jonathanpeppers commented on #16
Ok, yeah I can repro with the `BackgroundColor`. I will merge #24 when it's green.

@toomasz would it be possible for you to contribute some layouts in the `glidex.forms.samples` project? You can makeup whatever you like. I generally go through all of those before I submit an update to NuGet.

[2018-12-18 18:54] #16 closed

[2019-01-02 23:15] jonathanpeppers commented on #21
I think I can bump to the latest 3.4 and fix this issue: https://github.com/xamarin/Xamarin.Forms/releases/tag/release-3.4.0-sr1.2

[2019-01-03 06:44] kkarakk commented on #14
hah i came here looking for a way to configure disk caching on xam.android too. guess i'm out of luck

[2019-01-03 14:31] jonathanpeppers commented on #14
@kkarakk can you open a new issue, maybe include a code example?

We should just fix the problem so your layout works when resuming.

[2019-01-13 12:55] rogihee commented on #10
I'm hitting sort of the same issue: my Image only appears after the source has been changed (for animations between images) or a full layout cycle has been done. I have toggle to show/hide the navigation bar and when I toggle that the images appear, not before.

[2019-01-14 13:58] jonathanpeppers commented on #10
@rogihee your case sounds different: using an animation + inside navigation bar.

Could you file a new issue with a code example?

[2019-01-14 18:55] rogihee commented on #10
hi Jonathan, I meant that that toggling the nav bar  on/off was showing it in the page. I'll see if I can reproduce the case, it is quite standard usage of Image, but somewhere in nested layout.

[2019-02-15 15:22] #21 closed

[2019-02-18 23:00] pictos commented on #10
I had the same issue. I realized if the HorizontalOptions don't be set to `Fill `or `FillAndExpand`, the image don't shows (widht = 0).

But if you update the layout, showing and hide an activity indicator g.ex. the image shows up (width != 0).

I made an [example for this](https://github.com/pictos/GlideBug).

[2019-03-13 22:05] ahmedshibly opened #28 "Request Listener support for android."
Is it possible to add bindings for request listener in android.?

[2019-03-14 14:52] jonathanpeppers commented on #28
Hi @ahmedshibly can you link/post an example (in Java) of what you are trying to do?

I would want to add to our sample project if I added this.

[2019-03-15 16:40] ahmedshibly commented on #28
Have a look at [](https://github.com/bumptech/glide/issues/527)
`Glide
    .with(context)
    .load(imageUrl)
    .thumbnail(Glide // this thumbnail request has to have the same RESULT cache key
            .with(context) // as the outer request, which usually simply means
            .load(oldImage) // same size/transformation(e.g. centerCrop)/format(e.g. asBitmap)
            .fitCenter() // hav

[2019-03-15 16:41] ahmedshibly commented on #28
`Glide
    .with(context)
    .load(imageUrl)
    .thumbnail(Glide // this thumbnail request has to have the same RESULT cache key
            .with(context) // as the outer request, which usually simply means
            .load(oldImage) // same size/transformation(e.g. centerCrop)/format(e.g. asBitmap)
            .fitCenter() // have to be explicit here to match outer load exactly
    )
    .lis

[2019-03-15 16:43] ahmedshibly commented on #28
Have a look at this comment.
[https://github.com/bumptech/glide/issues/527#issuecomment-148840717](url)

[2019-03-19 19:07] jonathanpeppers commented on #28
So this is going to be tricky because this is a generic type:
[code]
@ahmedshibly have you tried this component? https://www.nuget.org/packages/Xamarin.Android.Glide/

Does it seem to have the full API for this?

I have been considering switching to it, and dropping the binding for glidex in this repo.

[2019-03-19 19:21] ahmedshibly commented on #28
Currently I am using my own binding.
One admin at  [https://xamarin.uservoice.com/forums/145075-xamarin-component-ideas/suggestions/12375513-glide](url) has suggested your binding so I tried to use glidex.
You use my binding if you want.

[2019-03-19 19:26] jonathanpeppers commented on #28
@ahmedshibly I don't know who that admin is, but there is an "official" Xamarin component for Glide now on [NuGet](https://www.nuget.org/packages/Xamarin.Android.Glide/).

It looks like they have the API you linked to: https://www.fuget.org/packages/Xamarin.Android.Glide/4.0.0/monoandroid70/lib/Xamarin.Android.Glide.dll/Bumptech.Glide.Request/IRequestListener#IRequestListener

[2019-03-21 14:59] elisabeth-mitton opened #30 "[Glide] Failed to find GeneratedAppGlideModule."
Hi,
I get this in my application (Android project of a Xamarin.Forms solution) output

`[glidex] IImageViewHandler of type `Android.Glide.ImageViewHandler`, instance created.
[glidex] IImageViewHandler of type `Android.Glide.ImageViewHandler`, `LoadImageAsync` called.
[Glide] Failed to find GeneratedAppGlideModule. You should include an annotationProcessor compile dependency on com.github.bumptech

[2019-03-21 16:51] jonathanpeppers commented on #30
@elisabeth-mitton can you post all the NuGet packages + versions you are using? (`packages.config` or list of `<PackageReference/>`)

I suspect there is a `Xamarin.Android.Support.Annotations` NuGet causing this...

I didn't _intent_ for any annotations to get processed, and seems like they might be.

[2019-03-23 20:56] taublast commented on #28
As far as i understand "the official" one is not supporting forms.
Actually looking to get events when image is loaded and image failed to load from remote. Also wanted to get original remote image size as explained here http://github.com/bumptech/glide/issues/781#issuecomment-160953996 but need more bindings for this indeed.

[2019-03-25 13:31] jonathanpeppers commented on #28
@taublast maybe what I'm missing here is:

I think @ahmedshibly was using the Glide binding here directly (he can correct me if I'm wrong).

My first goal is:
* See if this repo can just use the official Xamarin binding for Glide. (I may have to send them a few fixes, and wait for another release, we'll see)
* Expose what you need to do in glidex.forms via some new API that doesn't exist yet. Unfo

[2019-03-26 19:42] Pinox opened #31 "Question - GlideX with 3rd partly libs"
Hi Guys,

I'm currently using FFimageloading for images on Android + iOS in XF.
https://github.com/luberda-molinet/FFImageLoading

Does anyone know if glideX can be used with said library to improve performance on Android.

Also , is there functionality in GlideX where we can preload images in cache for later use on device and the ability the retry images loads.

Thanks in advance.

[2019-03-26 21:12] jonathanpeppers commented on #31
It looks like FFImageLoading replaces any `IImageSourceHandler` or `IImageViewHandler` implementations with its own image loading: https://github.com/luberda-molinet/FFImageLoading/blob/0d2829e410a614d41445e8fc45a0635e4b21a768/source/FFImageLoading.Forms.Droid/CachedImageRenderer.cs#L281

I would not try to use glidex and FFImageLoading at the same time.

As for preloading, you would need to use t

[2019-03-28 12:45] taublast commented on #28
@jonathanpeppers If we get Listener we can:
1 respond to events when an image is loaded or failed to load. this is what we have with ffimageloading atm, managed to have it without plugins with a custom renderer on ios but not on android. If i switch from ffimageloading to glidex i would need to implement such events, can't do it without listener.
2 obtain the loaded original remote image size befo

[2019-04-02 08:57] amnk2015 opened #32 "After install Nuget pakcage image getting large"
I had install this nuget pakcage to my existing project. after that my images are getting large size. this will explain my issue.

[https://forums.xamarin.com/discussion/153086/super-fast-image-loading-for-android-apps-with-glidex-issue/p1?new=1](url)

[2019-04-02 13:49] jonathanpeppers commented on #32
@amnk2015 can you post some example code here?

We need to know what you're page is doing to know what's wrong, thanks!

[2019-04-03 08:06] amnk2015 commented on #32
Thanks @jonathanpeppers for reply. I found my code issue. This is my code to get image.

`<controlsCommon:ImageButton Padding="10,5,10,5" HorizontalOptions="End" Source="{ext:ThemeImageResource menu.png}" Command="{Binding MenuCommand}" />`

This issue coming because of **ThemeImageResource** extension.  Can you please give me good suggestion to solve this. is it good way to load image using exten

[2019-04-03 14:06] jonathanpeppers commented on #32
Thanks @amnk2015, can you post a little more code?

What is the source for `ImageResourceExtension`? The `GetResourceImageSource(true)` method?

Basically we need to add your issue here to our sample project--I go through and manually test it between each release.

[2019-04-04 02:37] amnk2015 commented on #32
Please check this code.

`using Xamarin.Forms;`
`using Application = MyApp.ServiceMgt.Code.Application;`

`namespace MyApp.ServiceMgt.Extensions `
`{`
 ` public static class ImageFunctions `
`{`
` public static string GetResourceImagePath(this string imagePath, bool useTheme = false)`
`{`
` return string.IsNullOrEmpty(imagePath)`
`? null
                : string.Format("MyApp.ServiceMgt.Images.{1}

[2019-04-04 18:40] jonathanpeppers commented on #32
So this is nothing to do with your markup extension, etc. It is something to do with `EmbeddedResource`.

Can you upload the actual image file here? If it's OK with you, I will put it in the sample app in this repo.

One last question: what is `<controlsCommon:ImageButton/>`? Can I just use an `ImageButton` to see the issue?

[2019-04-05 03:21] amnk2015 commented on #32
This is the Image button control code
`<?xml version="1.0" encoding="utf-8" ?>
<StackLayout xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
    x:Class="MyApp.Common.Controls.ImageButton"
    Orientation="Horizontal">
    <Image x:Name="Image" VerticalOptions="FillAndExpand" HorizontalOptions="FillAndExpand" Aspect="AspectFit" IsVisible="Fal

[2019-04-05 15:21] AntoninMartin opened #33 "Question - How can we use SVG ?"
Hi Jonathan,

Thanks for this package ... I've been using FFImageLoading for a long time but many bugs with recents version of Xamarin Forms discouraged me.

I would try your package in my app, but can I use svg files and how can I configure glidex to work like this ?

Thanks :)

[2019-04-05 15:59] jonathanpeppers commented on #33
Looks like Glide has a Java sample using SVG files [here](https://github.com/bumptech/glide/tree/master/samples/svg/src/main/java/com/bumptech/glide/samples/svg).

But it looks like you have to write a bunch of code to make it work...

Parts of Glide on the Java side use [compile-time annotations](http://hannesdorfmann.com/annotation-processing/annotationprocessing101), so I'm not sure there is a

[2019-04-08 09:12] DanMburu opened #34 "Image not showing without HeightRequest"
He is a snippet of my code
[code]

[2019-04-08 13:33] jonathanpeppers commented on #34
@DanMburu I think this a duplicate of: https://github.com/jonathanpeppers/glidex/issues/10#issuecomment-433109852

Let me know if you have ideas here -- it seems `HeightRequest` / `WidthRequest` are the way to go for now.

[2019-04-08 13:33] #34 closed

[2019-04-10 03:28] jonathanpeppers commented on #32
@amnk2015 I tried using your image, but things were working for me: https://github.com/jonathanpeppers/glidex/commit/a90887287c4d657aa82acd7a00620d2c7d95352d

Is it possible you are hitting a variation of: https://github.com/jonathanpeppers/glidex/issues/10#issuecomment-433109852 and https://github.com/jonathanpeppers/glidex/issues/34 ?

Currently I would recommend using `WidthRequest` or `HeighRe

[2019-04-16 15:27] 1saeedsalehi opened #36 "Issue with FastRenderer"
I got an exception while trying to use `Glidex.Forms` alongside  `FastRenderers_Experimental` flag in Xamarin.Forms

here is a scenario which bug happens
both PageA and PageB contains some images and we have  enabled FastRenderer in android.

1. Applications starts in  PageA
2. Navigate to PageB
3. Navigate back to PageA
4. Navigate to PageB again. the exception will be thrown here

Xamarin Except

[2019-04-16 17:20] jonathanpeppers commented on #36
@1saeedsalehi do you think this is happening?
* Glide is setting an image on a page
* This page is gone -- no longer on the screen, probably destroyed/disposed

To get a better picture of what is going on, can you post the contents of `obj\Debug\*\android\src\md5f92e0daf340890c9667469657ee2ece8\ImageRenderer.java`?

What is the image coming from? A URL? (I guess it is fairly large, too?)

[2019-04-17 06:52] 1saeedsalehi commented on #36
@jonathanpeppers I think it happens when I am trying to back to a page containing image which destroyed before

it's a tiny image loading from EmbeddedResources

here is `ImageRenderer.java` content:

[code]

[2019-04-18 02:41] jonathanpeppers commented on #36
@1saeedsalehi I know this isn't the greatest option, but does setting the `Image.Source` to null in your page's `OnDisappearing` fix the problem?

I'll do some research and see if we can fix this scenario.

[2019-04-18 10:22] velocitysystems opened #37 "Load bitmap to draw on canvas"
I would like to use _glidex_ to load a bitmap from a source and expose the object so I can draw it directly on a canvas, similar to the Java code below.

However, `SimpleTarget<T>` doesn't appear to be supported by _glidex_ yet? i.e.

[code]

[2019-04-18 18:47] jonathanpeppers commented on #37
The plan is to somehow expose APIs like this in glidex.forms.

I am waiting on an update to [Xamarin.Android.Glide](https://www.nuget.org/packages/Xamarin.Android.Glide/) before we can do that.

You can follow progress here: https://github.com/jonathanpeppers/glidex/pull/35

[2019-04-20 03:44] jonathanpeppers commented on #36
@1saeedsalehi if you could try two things for me:
* Could you see if the build from #38 fixes the problem? https://ci.appveyor.com/api/buildjobs/1lsyaf0tcki7qea8/artifacts/glidex.zip
* If not... can you run the `glidex.forms.sample` in this repo and see if it happens for you there?

[2019-04-20 03:47] jonathanpeppers commented on #31
@Pinox if you are still wanting to do this, here is a blog post of someone that mixed `FFImageLoading` and `glidex`: https://www.sharpnado.com/ultimate-image-caching/

YMMV, but it works? I think that answers this question, let me know, thanks!

[2019-04-20 03:47] #31 closed

[2019-04-20 06:10] Pinox commented on #31
thanks @jonathanpeppers .  Yes I saw that on the Xamarin blog.  I do understand from Ffimageloading authors that they are working on rewriting part of android code for more performant code and incorporating some of glidex features.

[2019-04-26 21:21] #36 closed

[2019-04-29 21:05] tipa commented on #28
I also would appreciate RequestListener support. This binding library supports it, but is "stuck" on Glide v4.1.1: https://github.com/beraybentesen/glide-xamarin-android

[2019-04-30 15:06] jonathanpeppers commented on #28
Follow #35 for updates.

An update for [Xamarin.Android.Glide](https://www.nuget.org/packages/Xamarin.Android.Glide/) will be shipping soon, that is the official binding from [here](https://github.com/xamarin/XamarinComponents/tree/master/Android/Glide).

[2019-04-30 16:45] ahmedshibly commented on #28
@tipa try this,  this is based on v4.7 and has request listener support : [https://github.com/ahmedshibly/Xam.Glide](url)

[2019-05-02 16:28] jonathanpeppers commented on #28
They just shipped an official update with 4.9: https://www.nuget.org/packages/Xamarin.Android.Glide/4.9.0

If any of you guys have fixes to the binding, contribute them [here](https://github.com/xamarin/XamarinComponents/tree/master/Android/Glide).

Thanks! I'll be working on #35 when I have some free time (lol?).

[2019-05-16 02:43] Sergiojoel9877 opened #40 "[Question] When the new Update based on XA.Glide will be available?"
When the new update based in Xamarin.Android.Glide could be available on Nuget?

[2019-05-20 15:17] jonathanpeppers commented on #40
So far all I've done is switch over to it. I would like to actually expose some new APIs before I ship a release.

A `nupkg` is built on every commit, so you can try that now if you like: https://ci.appveyor.com/project/jonathanpeppers/glidex/builds/24375797/artifacts

[2019-05-23 10:24] mknotzer commented on #32
Same issue here, the images are huge after adding the NuGet package.

[2019-05-23 12:23] jonathanpeppers commented on #32
@mknotzer I was having some trouble reproducing this one. Would you be able to make a sample showing it? Thanks!

[2019-05-29 22:11] jonathanpeppers commented on #28
@taublast (or anybody, feel free!) does it seem like you can achieve what you need with the new `IGlideHandler` interface I'm working on here: https://github.com/jonathanpeppers/glidex/pull/41

Reviews welcome ☝️

It looks like `SimpleTarget` from `Xamarin.Android.Glide` gives all the callbacks needed.

[2019-06-19 21:24] alexthekid07 opened #42 "Can't use resource://"
GlideX does not seem to like when you reference an embedded resource from a PCL with a URI like:
"resource://MyApp.embedded.defaultProfile.png"

It works fine with a standard Image and in FFImageLoading, so I was hoping it would work here but it barks about an invalid/missing content provider.

[2019-06-20 21:46] jonathanpeppers commented on #42
@alexthekid07 I don't think `resource://` works in stock Xamarin.Forms--I've actually never seen it before.

Is this a feature of FFImageLoading? https://github.com/luberda-molinet/FFImageLoading/wiki/Data-URL-&-Embedded-Resources-support-(including-base64)#embedded-resources-uri-support

[2019-06-21 15:49] jonathanpeppers commented on #42
I looked at the Xamarin.Forms source, and I am pretty confident they don't support `resource://`. I don't think I want to implement non-standard URIs in glidex.forms.

I would also recommend _not_ using `EmbeddedResource` for your images anyway. They are the poorest for performance.

Closing for now, let me know if you see something different. Thanks!

[2019-06-21 15:49] #42 closed

[2019-06-22 23:48] #28 closed

[2019-06-23 13:24] jonathanpeppers commented on #40
It should be live shortly: https://www.nuget.org/packages/glidex.forms/2.0.0-pre1

File a new issue if you find any problems, thanks!

[2019-06-23 13:24] #40 closed

[2019-06-24 19:47] Sergiojoel9877 commented on #40
Nice!

[2019-06-25 02:48] jonathanpeppers commented on #37
If you want to try the prerelease: https://www.nuget.org/packages/glidex.forms/2.0.0-pre1

I have an example of using `SimpleTarget`: https://github.com/jonathanpeppers/glidex/blob/ebae223e57e17d21a33fc7a3e6adb45b85249206/glidex.forms.sample/RandomAlphaHandler.cs#L24

File an issue if you find any problems or missing APIs, thanks!

[2019-06-25 02:48] #37 closed

[2019-07-02 18:47] PWaliaDev opened #45 "After upgrading too Xamarin.Forms 4 Or Using Fast Renderer getting exception"
I upgraded Xamarin.Forms to 4.0.0 service request and then getting exception

No constructor found for Xamarin.Forms.Platform.Android.FastRenderers.ImageRenderer::.ctor(System.IntPtr, Android.Runtime.JniHandleOwnership)

Unable to activate instance of type Xamarin.Forms.Platform.Android.FastRenderers.ImageRenderer from native handle 0xbfd3900c (key_handle 0xcbe3ef).

StackTrace:

at Java.Interop.T

[2019-07-02 19:09] jonathanpeppers commented on #45
@PWaliaDev does this happen if you navigate to a page and stay there?

Or does it only happen at some point _after_ you have navigated away from a page that has an image?

[2019-07-02 19:17] PWaliaDev commented on #45
This is happening when pressing back button and app finishing activity.
As well when i install app first time and after login going to dashboard when data is binding inside carousel then this comes.

[2019-07-23 13:42] IbrahimElshafey commented on #17
@toomasz  I faced the same exception when I tried to remove an element from `ObservableCollection ` that is bound to items source for `BindableLayout` and its template contains [SvgCachedImage](https://github.com/luberda-molinet/FFImageLoading/blob/master/source/FFImageLoading.Svg.Forms.Shared/SvgCachedImage.cs)
When I removed the **SvgCachedImage** from the template the exception disappeared.

[2019-07-23 13:46] IbrahimElshafey commented on #17
@toomasz  I think that each UI child in the `StackLayout` takes the same instance of the `SvgCachedImage `
 and the exception occurred when trying to dispose of any one.

[2019-08-19 21:10] activa commented on #45
I'm having the same issue, but not when navigating to/from pages. It happens when hundreds of images are shown in a list view and scrolling rapidly through the list. ViewCells contain an image and the viewcells are recycled (which is the default for ListView).
It works 90% of the time but sometimes the app crashes with the exception shown above. I will try to create a test project that demonstrate

[2019-08-20 01:13] jonathanpeppers commented on #45
@activa if you can get a project to show the problem that would help so much! You could also add a page to the sample in this repo if that is easy enough.

[2019-08-21 17:16] jonathanpeppers commented on #45
@activa any luck getting a repro?

I tried this `ListViewOfDoom` page, which unfortunately works fine: https://github.com/jonathanpeppers/glidex/pull/51

I tried putting a large image from a URL into an `ImageCell` and scrolling a lot -- should I try something else? The random number in the URL forces Glide to re-download on each row.

[2019-08-21 17:22] activa commented on #45
@jonathanpeppers I haven't had time to do that yet. However, after playing with our app a little bit, I noticed that I have never been able to trigger the exception in debug mode. In release mode it's very easy to reproduce though.

[2019-08-21 21:39] jonathanpeppers commented on #45
@activa my example seems to work in `Release` mode, too. Let me know if you can send me an example that breaks...

If I fixed this bug, it would be enough to push out another release of glidex.forms.

[2019-09-23 17:05] activa commented on #45
@jonathanpeppers I finally have some time this afternoon to try and reproduce it. I will try to make it fail using your "ListView of doom" sample.

[2019-09-23 18:41] activa commented on #45
It was pretty easy to reproduce (almost 100% reproducible):

In your ListView Of Doom sample, replace change the ListView to use larger images and use a standard ViewCell:

[code]
When running this, scroll through the list very fast and tap the "Back" button while it's still scrolling. 90% of the time it will crash with the exception mentioned in this issue.

[2019-09-24 16:18] #45 closed

[2019-09-24 16:18] jonathanpeppers commented on #17
I finally got a repro for this issue, I think it will be fixed by: https://github.com/jonathanpeppers/glidex/pull/53

[2019-09-24 16:18] #17 closed

[2019-09-24 16:21] jonathanpeppers commented on #5
I think this issue was likely fixed at some point by the extra checks in this method: https://github.com/jonathanpeppers/glidex/blob/f3132f4bd3701deb27c4ea1c206223dc39a1a5a1/glidex.forms/GlideExtensions.cs#L88

You might try the current preview: https://www.nuget.org/packages/glidex.forms/2.0.0-pre1

I will be releasing an update as stable soon, I think.

[2019-09-24 16:21] #5 closed

[2019-09-24 17:40] BillyMartin1964 commented on #5
I tried it again after updating to xF 4 and still the same. At this point I'm pretty much over it. Sorry. Hope you get everything figured out. Thanks for your time.

[2019-09-24 19:20] activa commented on #45
@jonathanpeppers I pulled the latest code from the master branch and the issue still remains. It's 100% reproducible and it throws the exact same exception:

`System.NotSupportedException: 'Unable to activate instance of type Xamarin.Forms.Platform.Android.FastRenderers.ImageRenderer from native handle 0x7fe80b7824 (key_handle 0x82c9026).'`

[2019-09-24 19:33] activa commented on #45
Ok, never mind. For some reason pulling the latest code didn't update the glidex.forms.csproj file so the new FastRenderer class was not added to the project.

It seems to work fine now.

[2019-09-24 20:44] jonathanpeppers commented on #45
[2.0.0.236](https://www.nuget.org/packages/glidex.forms/2.0.0.336) is also on NuGet now, so you should be able to start using it in your app.

[2019-09-26 00:45] activa commented on #45
Everything's working great with 2.0.0.236. Thanks for the quick fix!

[2019-10-10 19:03] chrisfoulds opened #54 "Fast Renderers Access Issue"
I've just installed this with the hope of speeding up a production Xamarin forms app on 3.6.0
(Can't update to 4+ currently).

In
public class MainActivity : global::Xamarin.Forms.Platform.Android.FormsAppCompatActivity

I have

`Xamarin.Forms.Forms.SetFlags("FastRenderers_Experimental");
            global::Xamarin.Forms.Forms.Init(this, bundle);
            Android.Glide.Forms.Init(this);`

Belo

[2019-10-10 19:28] chrisfoulds commented on #54
Full stack
`10-10 20:27:00.811 E/AndroidRuntime(29023): md5bcaacea39e485ed8e3d7f0e2edda77a7.MonoExceptionHelper: (MethodAccessException) Method `Xamarin.Forms.Platform.Android.FastRenderers.ImageRenderer..ctor(Android.Content.Context)' is inaccessible from method `Android.Glide.ImageRenderer..ctor(Android.Content.Context)'
10-10 20:27:00.811 E/AndroidRuntime(29023): 	at   at (wrapper managed-to-na

[2019-10-11 10:23] chrisfoulds commented on #54
Is there a minimum version of Xamarin.Android my build needs ?

[2019-10-14 10:37] chrisfoulds commented on #54
Everything is updated, latest VS , latest nugets for everything except xamarin forms which is 3.6
Total clean build etc.
Same crash
Do I need an older nuget for forms 3.6?

[2019-10-14 15:45] jonathanpeppers commented on #54
@chrisfoulds OK, it looks like the fast renderer used to be `internal`: https://github.com/xamarin/Xamarin.Forms/blob/8317fcd9a46d83c613af3809883541b0449aba80/Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs#L14

In 4.0.0, it's not: https://github.com/xamarin/Xamarin.Forms/blob/4.0.0/Xamarin.Forms.Platform.Android/FastRenderers/ImageRenderer.cs#L14

The fix will be to make glidex.form

[2019-10-14 16:35] #54 closed

[2019-10-14 17:40] chrisfoulds commented on #54
Thanks, glad I wasn't going crazy :-) , I will do a quick fork and put in in place.

[2019-10-17 14:09] SeRgI1982 opened #56 "GlideX doesn't show images at the beginning"
#  🐛 Bug Report

### Expected behavior

Image should be visible from the beginning

### Reproduction steps
Download [project](https://drive.google.com/open?id=1qUCXd2IXf6_T5jO85l4NbT34N2engqCw)

GlideXIssue.Android has installed GlideX.Forms

LoginPage or MainPage rotate device to Landscape mode - image appears
LoginPage focus Entry - image appears.

GlideXNoIssue.Android is a copy of GlideXIssue.

[2019-10-17 17:09] jonathanpeppers commented on #56
Do you just need to set a `HeightRequest` or `WidthRequest` on the image?

There is a fundamental concept flaw between Forms & Glide: https://github.com/jonathanpeppers/glidex/issues/10#issuecomment-433109852

Basically Glide wants to know the size of the image to load a scaled down image, so it uses the size of the `ImageView`. Forms wants to know the size of the _actual_ image to impact your lay

[2019-10-17 19:29] SeRgI1982 commented on #56
Thanks @jonathanpeppers.
Fundamental concept between Forms & Glide surprised me.

[2019-10-17 19:29] #56 closed

[2019-10-24 04:23] mr5z commented on #10
Same issue here.
I just noticed that every time I toggle the `IsVisible` property, I always see this log from the console output:
[code]
Here's a snippet with comments from our code. Hope it would help you figure out what's causing the issue.

[code]

[2019-10-24 08:45] rogihee commented on #10
I suspect it has something to do with the Forms layout engine and size calculation. Either incorrect sizing by Forms or the incorrect size as seen by Glide. I noticed the VerticalOptions and HorizontalOptions did have an effect on whether Glide showed the picture or not, but could not create a simple reproduction.

[2019-10-24 13:32] jonathanpeppers commented on #10
In some layouts you should try setting `HeightRequest` or `WidthRequest`.

The problem is a conflict in how Glide and Xamarin.Forms work: https://github.com/jonathanpeppers/glidex/issues/10#issuecomment-433109852

[2019-12-12 06:55] heebaek opened #57 "crash after XF 4.4 release."
When back to launcher from top page with image,

No constructor found for Android.Glide.ImageRenderer::.ctor(System.IntPtr, Android.Runtime.JniHandleOwnership) ---> Java.Interop.JavaLocationException: Exception of type 'Java.Interop.JavaLocationException' was thrown.

if i add a fake ctor, exception is not throwing.
public ImageRenderer(System.IntPtr intPtr, Android.Runtime.JniHandleOwnership jniH

[2019-12-12 18:52] jonathanpeppers commented on #57
@heebaek you made a new project that reproduces this? Can you upload it here? Thanks!

[2019-12-13 02:06] heebaek commented on #57
ok. this is default empty template project and i added one image. (but image not visible...this is bug too.)

there are no tabs, so you just need to click back button after launch.

[glidex.zip](https://github.com/jonathanpeppers/glidex/files/3958634/glidex.zip)

[2019-12-13 03:08] jonathanpeppers commented on #57
Thanks, yeah this is jacked up!

[2020-01-11 03:52] #57 closed

[2020-01-12 03:42] jonathanpeppers commented on #57
@heebaek try out the latest update for me, and let me know, thanks!

https://www.nuget.org/packages/glidex.forms/2.0.1.394

[2020-01-12 05:27] heebaek commented on #57
crash bug has been fixed.
but the image still doesn't display correctly sometimes.

[2020-01-12 06:20] jonathanpeppers commented on #57
glide has a behavior difference, you will need to supply WidthRequest or HeightRequest as mentioned here: https://github.com/jonathanpeppers/glidex/issues/10#issuecomment-434838704

I have not figured out a way to get around this issue yet.

[2020-06-16 20:40] velocitysystems opened #62 "Can't use with Android 10 / AndroidX"
Since `glidex.forms` takes a dependency on `Xamarin.Android.Glide` this in turn takes a dependency on` Xamarin.Android.Support.v4 (>= 28.0.0.1)`.

We are targeting Android 10 with AndroidX libraries and cannot install the NuGet package.
Is there any workaround or can we expect an updated version to be released?

[2020-06-16 21:43] jonathanpeppers commented on #62
It looks like Glide 4.10.0 migrated to AndroidX:

https://github.com/bumptech/glide/releases

But I think we need a new Xamarin.Android.Glide that is based on AndroidX first?

https://github.com/xamarin/XamarinComponents/blob/ea469ecfc61ab0f7820e10031f85ceb33ad3f697/Android/Glide/build.cake#L6

Can you file an issue here? https://github.com/xamarin/XamarinComponents/issues

I'll leave this open, b

[2020-06-29 13:37] vshapenko opened #63 "Transformation support"
Hello! Are there any plans for transform support(blur,rounding, circle) etc? Thanks in advance

[2020-06-29 19:11] jonathanpeppers commented on #63
@vshapenko I would review the Java API documentation for Glide:

http://bumptech.github.io/glide/doc/options.html

Then you can implement an `IGlideHandler` to customize the calls to Glide. There isn't much documentation on this, but you can get the general idea here: https://github.com/jonathanpeppers/glidex/pull/41

There is an example of randomizing each image's alpha value. You should be able

[2020-06-29 19:52] vshapenko commented on #63
@jonathanpeppers ,thank you for answer. All above means i need write either custom image source or just extend standart Image with transforms. I think i will go second path

[2020-07-02 17:54] velocitysystems commented on #62
Hi @jonathanpeppers. I have raised an issue with the Xamarin components team but am still awaiting a response.
Just wondering if you may possibly be able to gain some traction on this internally?

[2020-07-07 13:07] podgorodetskiy opened #64 "Update to Xamarin.Android.Glide 4.11.0"
Please update to new version of Xamarin.Android.Glide
https://www.nuget.org/packages/Xamarin.Android.Glide/4.11.0

[2020-07-07 18:15] #62 closed

[2020-07-07 18:15] #64 closed

[2020-07-07 19:15] jonathanpeppers commented on #62
This should be live shortly: https://www.nuget.org/packages/glidex.forms/2.1.0.470

I didn't test the NuGet package itself, let me know if you have an issue, thanks!

[2020-07-07 19:15] jonathanpeppers commented on #64
This should be live shortly: https://www.nuget.org/packages/glidex.forms/2.1.0.470

I didn't test the NuGet package itself, let me know if you have an issue, thanks!

[2020-07-07 19:57] velocitysystems commented on #62
Thanks Jonathan, look forward to testing tomorrow.

Great work!

Sent from my iPhone

[2020-07-08 05:49] sriganesh040194 opened #66 "Cannot install nuget package in Xamarin.Forms"
I have a Xamarin.Forms(4.7.0.1080) application with Xamarin.Android.
I tried to install Glidex.Forms from Nuget(2.1.0.470 latest stable), but it fails every time with compatibility issues.

I tried with both .netStandard v2.0 and v2.1. I get the same error except for the version info down below.

[code]

Can you please help?

[2020-07-08 10:47] velocitysystems commented on #62
@jonathanpeppers Tested this morning and works well. I did find a disposing-related issue, but I don't believe it is related to the update and will bug accordingly. Thanks!

[2020-07-08 10:53] velocitysystems opened #67 "NotSupportedException thrown when using with XF CollectionView"
A `System.NotSupportedException` is thrown under the following circumstances:
- GlideX.Forms is used with a Xamarin.Forms application.
- An `Image` control is contained with an `ItemTemplate` inside a `CollectionView`
- The list is long enough to permit scrolling up and down.

When scrolling occurs and native view holders are recycled, the following exception is thrown:
`System.NotSupportedExcepti

[2020-07-08 13:29] jonathanpeppers commented on #67
@velocitysystems can you make a sample page in this project that shows the problem?

https://github.com/jonathanpeppers/glidex/tree/master/glidex.forms.sample/Forms

It seems like I will have to debug what is going on. I also test these pages manually every time I release, so it would be nice to verify nothing breaks `CollectionView` as we move forward. 👍

[2020-07-08 21:04] jonathanpeppers commented on #66
@sriganesh040194 it looks like you are trying to install `glidex.forms` in a `netstandard2.0` project.

You should only need this package in the head Xamarin.Android app project. Is that the issue?

[2020-07-09 14:09] sriganesh040194 commented on #66
@jonathanpeppers  Thanks for your response. No, it is not an issue. I can install ```glidex.forms``` in Xamarin.Android.

But I get this error which says, I need ```glidex``` as well.

```/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(2,2): Error XA2002: Can not resolve reference: `Xamarin.Android.Glide`, referenced by `glidex.forms`. Please add a

[2020-07-09 14:33] jonathanpeppers commented on #66
Let me unlist `glidex`, as this is from the past. It was a Java binding for Glide, but I started using `Xamarin.Android.Glide` instead when we got an official Xamarin binding for it.

Add `Xamarin.Android.Glide`, then `glidex.forms`.

I'm also guessing you are using `packages.config`? I think you would have an easier time using `PackageReference`.

[2020-07-09 15:24] sriganesh040194 commented on #66
That is great. Thank you very much for your help.

I think I am using PackageReference, I am new to Xamarin and I used the default Shell Template and built on top of that. I couldn't find ```package.config`` in my project.

I added ```Xamarin.Android.Glide``` and ```glidex.forms``` Now it seems to work fine.

However, there were some hiccups. It might help someone in the future.

- ```Xamarin.Andr

[2020-07-09 15:34] jonathanpeppers commented on #66
If you use Xamarin.Android.Glide 4.11.0, it requires `TargetFrameworkVersion=v10.0` and AndroidX. You could use Xamarin.Android.Glide 4.9.0 instead if you don't want that.

I remember some comments about `FFImageLoading` here that is probably relevant: https://github.com/jonathanpeppers/glidex/issues/31#issuecomment-476854559

[2020-07-09 15:42] sriganesh040194 commented on #66
Thank you, that really helps. I will make sure to check out the linked content.

I will close this issue :)

[2020-07-09 15:42] #66 closed

[2020-07-14 08:40] velocitysystems commented on #67
Hi @jonathanpeppers. I have put up #68 which adds a `CollectionView` sample.
Unfortunately, it doesn't reproduce the problem we are facing so will need to investigate further. But I thought I'd put it up anyway as it is a sample using the new `CollectionView` control.

I'll need to dig a little deeper and see why our ItemTemplate's are blowing up when using GlideX.

[2020-07-14 13:22] jonathanpeppers commented on #67
@velocitysystems the sample looks great, let me know if you figure out how to cause the issue!

Maybe it's something about the layout you have setup in the `CollectionView.ItemTemplate` your app? Some combination of controls + bindings?

[2020-07-31 12:39] msangtarash opened #69 "TabbedPage.ToolbarItems IconImageSource with Uri stop working after installing glidex.forms nuget package!"
I've followings:

[code]

We've 2 toolbar items with icon and 2 image. 1 toolbar item has local image and another one has remote image. We've the same conditions with 2 images in content page.

After I install glidex.forms (and I don't have to even configure it in MainActivity.cs!), the toolbar item which has remote image source stops working! Another ToolbarItem & the two images in content page a

[2020-08-02 09:43] ysmoradi commented on #69
Glide's ImageViewHandler is not implementing IImageSourceHandler.
It's implementing IImageViewHandler only!
That's an issue )-:

[2020-08-02 10:09] ysmoradi commented on #69
I was able to make it work by followings:

[code]
It seems GlideX.Forms is loading images & image buttons by Glidex and other images such as page icons and toolbar items )-:

@jonathanpeppers @jamesmontemagno

[2020-08-03 07:48] ysmoradi commented on #69
Every image we use in pages backgrounds (which are typically large) and toolbar images etc is loading without Glide!
And if we use uri source images, it won't load at all )-:
Could you please let us know you've seen this issue by sending initial response to us?

[2020-08-03 17:14] jonathanpeppers commented on #69
It doesn't seem like Xamarin.Forms `ToolbarItem.IconImageSource` calls into `IImageViewHandler`:

* https://github.com/xamarin/Xamarin.Forms/blob/8f5090f6062002609051a5c0b17ca16af0989c15/Xamarin.Forms.Platform.Android/AppCompat/TabbedPageRenderer.cs#L680-L696
* https://github.com/xamarin/Xamarin.Forms/blob/719fc7a604ff0cce8922d717c99bfb0fa17e35e0/Xamarin.Forms.Platform.Android/ResourceManager.cs#L

[2020-08-04 06:22] ysmoradi commented on #69
I think xamarin forms is fine, it calls IImageHandler for image & image view and it calls IImageSourceHandler for icons & backgrounds where there is no image/image view
So, we just need implementing IImageSourceHandler. I've also provided initial implementation for you which works fine. But it needs some enhancements.
There's nothing wrong with XF in my opinion

[2020-09-15 01:59] dberroa opened #71 "No image displayed when using this for ImageButton Image States"
I have installed this package and the glidex package and everything builds properly but the images I am trying to display do not display. When I remove this package but not the glidex package, they do. This leads me to believe this is related to glidex.forms. This is for Android.

I'm trying to do the following below to display two images buttons in a carousel.

<CarouselView IndicatorView="indica

[2020-09-15 02:04] dberroa commented on #71
Not sure why the code disappeared.

[code]

[2020-09-15 03:40] jonathanpeppers commented on #71
I think you are hitting this problem: https://github.com/jonathanpeppers/glidex/issues/10#issuecomment-433109852

If you set `WidthRequest` or `HeightRequest`, is the image displayed?

[2020-09-15 08:49] Midnayt opened #72 "[Question] Placeholder"
How to set placeholder when image loading in progress?

[2020-09-15 13:19] jonathanpeppers commented on #72
First thought: how would you do it in Xamarin.Forms when not using glidex? Maybe we need to add a feature?

Glide has a way to do this:

http://bumptech.github.io/glide/doc/options.html#transitionoptions

Right now, you could implement an `IGlideHandler` to customize the calls to Glide. There isn't much documentation on this, but you can get the general idea here: https://github.com/jonathanpepper

[2020-09-15 20:34] themronion commented on #33
@jonathanpeppers now that Xamarin introduced paths maybe it can somehow be achieved?

[2020-09-15 20:39] jonathanpeppers commented on #33
@themronion can you share a link of what you are referring to?

Xamarin.Android does not have Java annotation support.

[2020-09-16 06:02] themronion commented on #33
@jonathanpeppers yeah, sorry, i think it is possible somehow only for xamarin.forms. Here is what i was referring too: [click](https://javiersuarezruiz.wordpress.com/2020/06/30/xamarin-forms-tips-and-tricks-working-with-shapes/)

[2020-09-16 13:19] jonathanpeppers commented on #33
Ok yeah, @themronion this looks like it is using `<Path/>` that came with the new shapes features in Xamarin.Forms 4.8.

I would use `<Path/>` directly for an `.svg` file, that seems like a reasonable choice. glidex could be useful at some point if you needed to _download_ `.svg` files from the internet, but they can also be pretty small in file size compared to other image types.

[2020-09-17 20:43] dberroa commented on #71
Hey, thanks for the response. I read through the linked issue and saw that someone mentioned that setting height and width request to Fill or FillAndExpand also helped.

I tried fill, fillandexpand, and setting actual height and width (512) and it was better but still having issues. Now the image button does display in the carousel view using any combinationof fill, fillandexpland, and width and h

[2020-09-17 21:50] jonathanpeppers commented on #71
If you could send a PR adding this example here that would help out a lot:

https://github.com/jonathanpeppers/glidex/tree/master/glidex.forms.sample/Forms

I run through these before each release. If not, I may get around to testing this at some point, thanks.

[2020-09-18 16:21] dberroa commented on #71
I've never actually submitted a PR to github. When you say this, do you want me to make a sample project showing the error and submit that or take your samples at the link and try and make it occur within your samples?

[2020-09-18 18:50] jonathanpeppers commented on #71
If you can, make a view that shows the problem in the glidex samples. Thanks!

[2020-09-20 03:28] dberroa commented on #71
So as mentioned I never summitted a PR so I'm running into a bit of an issue. I have cloned the code using visual studio 2019's clone GitHub feature. I then created a local branch and added all my examples showing the issue. I then try and push that branch and get the following error:

[code]
Since 403 tends to be not authorized, is this not the way I'm supposed to be doing it? Do you need to turn

[2020-09-21 15:16] jonathanpeppers commented on #71
@dberroa it sounds like you need to "fork" this repository, and send the pull request from your fork.

Does this help?

https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-09-22 06:32] trumdongnat opened #73 "[Question] calculate image size before display"
I am trying to show list of image from urls in collection view(one column). Image width is fit to screen width and the height is calculated base on the width and the aspect is preserved.

HeightRequest=screen width * original image height / original image width

Please let me ask 2 questions
1. How to get the original size of image.
2. How to set the HeightRequest before render/decode the image.

[2020-09-22 13:54] jonathanpeppers commented on #73
Do you even need to know the size of the image here?

Can you just set:
* `WidthRequest` to screen width
* Center the image horizontally/vertically (need both in case the image is smaller than the screen)

[2020-09-23 00:24] dberroa commented on #71
Forking it did the trick. I was able to create a pull request and have explained what to do with the buttons in the pull request. #74

Let me know if you have any questions.

[2020-09-23 08:57] trumdongnat commented on #73
@jonathanpeppers sorry, the solution is not working for me.
I tried both Center and CenterAndExpand.  If I don't set the HeightRequest, the height of Image will be about 1, 2 px. I think when the collection view calculate the size of Image, because the Image is still not loaded, the Image require only 1 px. And its size is not update again after finish loading.
So I think I have to set HeightReque

[2020-09-23 10:43] trumdongnat commented on #73
Update.
I found solution now.
 1. How to get the original size of image.
    I follow this guide
    https://stackoverflow.com/questions/47827015/how-to-get-original-image-size-by-using-glide-on-android
 2. How to set the HeightRequest before render/decode the image.
   I create ImageSizeContainer to contain the image size. When I get the original size, I add it to container.
   The container will

[2020-09-23 10:43] #73 closed

[2020-09-25 20:46] #69 closed

[2020-09-28 08:56] ECDev01 opened #81 "Error when running new version 2.1.0.470"
Hi there,

After updating glidex.forms to 2.1.0.470 I am getting this error: Can not resolve reference: 'Xamarin.Android.Glide', referenced by `glidex.forms`. Please add a NuGet package or assembly reference for 'Xamarin.Android.Glide', or remove the reference to 'glidex.forms'.

I have investigated a bit and I found when I am about to update it the Nuget Package Manager is uninstalling 'Xamarin.A

[2020-09-28 13:24] jonathanpeppers commented on #81
[glidex.forms 2.1](https://github.com/jonathanpeppers/glidex/releases/tag/2.1.0) depends on Xamarin.Android.Glid 4.9, which requires AndroidX and TargetFrameworkVersion=v9.0 or higher..

I would get your project on AndroidX first before updating to glidex.forms 2.1.

[2020-10-22 08:40] themronion opened #82 "[Question] Should i always specify height and width request?"
Hey, so i started using your lib and i am wondering wether i should always specify the height and width request for the pic? Because when i don't sometimes the pic displays much bigger than i intend it to be, or doesn't display at all, I've seen some warnings in the console that Glidex throws that state something like this: set layout_width and layout_height to fixed dimension, When i set the requ

[2020-10-22 13:34] jonathanpeppers commented on #82
@themronion yes, I would always set either `WidthRequest` or `HeightRequest` unless something else in the layout constrains the image size.

There is a general conflict on how Glide expects `ImageView`'s to be sized and how Xamarin.Forms does layout, which I've not figured out how to solve: https://github.com/jonathanpeppers/glidex/issues/10#issuecomment-433109852

[2020-10-22 13:35] jonathanpeppers commented on #82
I think you'll always get better performance using Glide; it will also scale down the image if it is larger than the `ImageView` being displayed.

[2020-10-22 14:55] themronion commented on #82
Thanks! I will get to the process of setting the requests right away!)

[2020-10-22 16:25] jonathanpeppers commented on #82
Let me know if you have another question, or find a bug, thanks!

[2020-10-22 16:25] #82 closed

[2020-10-26 11:51] acaliaro opened #83 "Download images from url with proxy"
Hi @jonathanpeppers . Excellent work, as always...
I have a problem with FFImageLoading and Android devices

luberda-molinet/FFImageLoading#1496

https://forums.xamarin.com/discussion/185515/ffimageloading-cacheimage-and-proxy

Do "glidex" have the possibility to download images through a proxy?

Alessandro

[2020-10-26 13:30] jonathanpeppers commented on #83
glidex just uses the binding for [Glide](https://github.com/bumptech/glide) and sets it up to be called from Xamarin.Forms.

So the question is if you can use a proxy with Glide. There is an example here:

https://stackoverflow.com/a/54597523

So you should be able to have a custom `IGlideHandler` and setup the proxy, I think? Here is an example of using `IGlideHandler`:

https://github.com/jonath

[2020-10-29 09:50] AswinPG opened #84 "Always need to provide image height and width"
I am trying to create a staggered layout but while using glidex I cannot get the image size. I need to provide height request and width request manually. What should I do to get correct sizes ?

[2020-10-29 09:51] AswinPG commented on #84
Saw same issue so I am closing this

[2020-10-29 09:51] #84 closed

[2020-10-29 09:51] AswinPG commented on #10
I am trying to create a staggered layout but while using glidex I cannot get the image size. I need to provide height request and width request manually. What should I do to get correct sizes ?

[2020-10-29 13:24] jonathanpeppers commented on #84
@AswinPG this has been coming up lately, if I put some docs on the `README` about this, do you think you would have seen it?

[2020-10-29 13:32] AswinPG commented on #84
Yes I would have. Is there a workaround for this ?

[2020-10-29 13:41] jonathanpeppers commented on #84
It's the same problem I posted here: https://github.com/jonathanpeppers/glidex/issues/10#issuecomment-433109852

Since Glide loads images based on the size of the `ImageView` -- and Xamarin.Forms tends to do layout of the `ImageView` based on the image size, I don't know a way to reconcile this...

If you have some ideas, let me know!

[2020-10-29 13:43] AswinPG commented on #84
Sure :) This is a great library by the way. Images that would not load on default forms Image loads easily with glidex. Thanks for this

[2020-10-30 14:04] mr5z commented on #10
UX wise, you should always specify the sizes in ImageView controls on its @1x equivalent.

[2020-10-30 14:36] AswinPG commented on #10
But

But in a staggered layout, the image size is dynamic

[2020-11-27 11:44] Pantheas opened #85 "Struggeling to downsample images"
Hi,

I have some thumbnail images in my application that are shown in a list item template. The user is able to select the list item to open a popup with additional information and the full sized image.

The thumbnail images somehow look a little fuzzy, it does not seem like they are downsampled.
I tried creating a custom `IGlideHandler`, but calling `.Downsample()` or `Override(width, height)` on

[2020-11-29 09:17] AEZ314 opened #86 "What is the difference between Glidex and FFImageLoading?"
I don't really know if the answer is obvious because I'm a beginner. So both are image loading libraries, is there difference between the two? And can I use both of them at the same time?

[2020-11-30 16:33] jonathanpeppers commented on #86
glidex uses a native Java library, [Glide](https://github.com/bumptech/glide), for loading all images on Android. It does not support iOS.

FFImageLoading is a completely different library that does its own thing.

Here is a blog post that might help comparing options for images:

https://www.sharpnado.com/ultimate-image-caching/

I wouldn't use both glidex and FFImageLoading at the same time. Hop

[2020-11-30 16:33] #86 closed

[2020-11-30 16:35] jonathanpeppers commented on #85
Would you be able to share your images and some example code?

Or better yet, add your example here? Thanks!

https://github.com/jonathanpeppers/glidex/tree/master/glidex.forms.sample

I run through this sample manually before every release, but I could also figure out what is going wrong for you.

[2020-12-01 20:53] tolemac opened #87 "Problems running Xamarin Forms Flyout Template"
Steps to reproduce:

1. Open Visual Studio
2. Create new Proyect "Mobile App (Xamarin.Forms)
3. Select Flyout template
4. Right click on android project to select Properties
5. Select Android 10.0 on application tab.
6. On Android manifest tab select Android 10 as Target Android version.
7. Add glidex.forms nuget package
8. Add `Android.Glide.Forms.Init(this);` after `Xamarin.Forms.Forms.Init`
9.

[2020-12-01 21:36] tolemac commented on #87
When I activate debug (`Android.Glide.Forms.Init(this, debug: true);`) I obtain these messages in debug window:

[code]

[2020-12-01 22:39] jonathanpeppers commented on #87
Uh.... Xamarin.Forms appears to be calling into `LoadImageAsync` constantly!

![image](https://user-images.githubusercontent.com/840039/100805036-8ff1f380-33f3-11eb-83dd-03081364bcf7.png)

I think there must be a Xamarin.Forms bug here, I'll see what happens if I put an empty `IImageViewHandler` in this project.

[2020-12-02 06:58] tolemac commented on #87
Ok,

Can I do some assembly downgrade in order to solve this by the moment? as a workarround.

Thank you very much!

[2020-12-02 15:31] jonathanpeppers commented on #87
Let me know if you can find an older Xamarin.Forms version where this bug isn't happening, thanks.

[2020-12-02 19:18] tolemac commented on #87
Ok @jonathanpeppers I'm not hurry up!

I will wait for your researching ;)

[2021-03-04 10:39] MusaSakkaf opened #89 "Glide on Xamarin Forms Shows Poor quality"
Hi,

I am interested on your plugin called glidex.
And it seems good to me, but what bothering me is when glide renders huge image with low quality.

This issue is exist on the orignal Google glide and it's fixed
Here to see the fix https://github.com/bumptech/glide/issues/531

I was woundering if you cloud Inform me with the solution if it's exist,,,

[2021-03-04 10:53] MusaSakkaf commented on #89
Hi Mister Jonathan ,

I am interested on your plugin called glidex.
And it seems good to me, but what bothering me is when glide renders huge image with low quality.

this issue is exist on the orignal Google Glide and it's fixed
Here to See https://github.com/bumptech/glide/issues/531

I was woundering if you cloud Inform me with the solution if it's exist,,,

[2021-03-04 13:56] jonathanpeppers commented on #89
https://github.com/bumptech/glide/issues/531 doesn't appear to be something they fixed, they suggested doing this:

https://github.com/bumptech/glide/issues/531#issuecomment-121633859

The only way to do this with glidex.form is to use `IGlideHandler` and customize the calls to glide, we have a basic example here:

https://github.com/jonathanpeppers/glidex/blob/master/glidex.forms.sample/RandomAlp

[2021-03-24 09:24] DragonTM commented on #36
I see it is an old thread. I would like just to post the latest findings here.
The team built the app with Xamarin.Android 11.1.0.26:
- Built with VS for mac - crash occurs every time if enable "do not keep activities" when user resume an app on a page with an image
- Built with msbuild command (CI) - the app works as expected no crashes even with "no not keep activities"

We have not found a root

[2021-03-26 16:05] Ghasan commented on #89
Thanks,

We have solved it like this:

[code]

[2021-03-26 16:35] MusaSakkaf commented on #89
Hi there,

We have solved it like this:

csharp
    public class CustomGlideHandler : IGlideHandler
    {
        private static string[] _largeImages = { "LargeImage.png" };

        // Public

        public bool Build(ImageView imageView, ImageSource source, RequestBuilder builder, CancellationToken token)
        {
            if (source is FileImageSource imgSrc && _largeImages.Any(i => imgSr

[2021-03-26 16:35] #89 closed

[2021-04-06 02:04] raulandresduque commented on #36
I'm experimenting the same issue after take a photo and returning to the previous page/view.
I'm using XF 4,8 and CrossMedia addon.

@DragonTM , how are you building using command line?
I don't find a reason to have it working with msbuild and not with VS for win (in my case), at least different parameters are used.

[2021-04-06 07:33] DragonTM commented on #36
@raulandresduque, we have no identified the difference or a root cause on how those builds are different.
The build scripts looks like this
`msbuild $AndroidXamarinProjPath -t:UpdateAndroidResources -t:SignAndroidPackage -p:OutputPath=$OutputFolder/ -p:Configuration=Release -p:AndroidKeyStore=true -p:AndroidSigningKeyAlias=Alias -p:AndroidSigningKeyPass=pass -p:AndroidSigningKeyStore=$KeystoreFile

[2021-04-07 01:40] raulandresduque commented on #36
Any information about the source of the issue is welcome !

I had to remove "-t:UpdateAndroidResources -t:SignAndroidPackage" to have the building working, however, how generate the APT?

[2021-04-08 15:29] jonathanpeppers commented on #36
`SignAndroidPackage` is the target that creates an `.apk` file and signs it.

I don't think there is a reason to ever use `UpdateAndroidResources`.

[2021-05-25 08:36] Dreamescaper opened #90 "Allow UriImageSource.Uri to be null"
Native Xamarin.Forms allows UriImageSource.Uri to be null - it behaves same as when ImageSource is null. With Glidex.Forms, however, it fails in [GlideExtensions.LoadViaGlide](https://github.com/jonathanpeppers/glidex/blob/master/glidex.forms/GlideExtensions.cs#L21) method.

[2021-05-25 13:07] jonathanpeppers commented on #90
Can you share an example code snippet that fails?

Maybe you could add a page to this app? https://github.com/jonathanpeppers/glidex/tree/master/glidex.forms.sample/Forms

Thanks!

[2021-05-31 23:00] thewoodknight commented on #10
Is there any way to ignore/skip glidex on a per image basis?

Same situation as this - I have one image thats not appearing because of no `WidthRequest` (has `HeightRequest`, but image sizes are unknown), but this particular page isn't in a list, it's a single image on a page so the performance boost from glidex isn't as important.

[2021-06-01 14:51] jonathanpeppers commented on #10
@thewoodknight you might implement your own `IGlideHandler` to do this, see: https://github.com/jonathanpeppers/glidex/issues/89#issuecomment-790635408

[2021-07-10 15:55] IgorKravchenko10 opened #91 "How can I load image from bytes more efficient?"
Hi!
I just tried to use your plugin and for UriImageSource all works fine.
In my project I need to use byte array (API returns byte arrays). Previously I have created BytesImageSource with bindable property byte[] Buffer.
In my handler I have loaded it like this:

`return BitmapFactory.DecodeByteArrayAsync(byteArrayImageSource.Buffer, 0, byteArrayImageSource.Buffer.Length);`

But this blocks UI th

[2021-07-12 13:20] jonathanpeppers commented on #91
If you have some improvements to loading `byte[]`, send a PR, thanks!

Generally, I would avoid `byte[]` -- it's allocating an extra block of memory for the image for no reason. Android, you're better off using image APIs directly.

Why do you need to load a `byte[]` at all? Where is the image coming from?

[2021-07-12 13:39] IgorKravchenko10 commented on #91
Thanks for response.
We have a method in REST API which returns a byte array as image. So, I have some questions.
What is the alternative for byte array?
How does image load from uri (when use `UriImageSource` and Glide's `Load(sting uri)`) without using byte array? What the type of data will be used when loading from UriImageSource? Why UriImageSource is faster?

[2021-07-12 13:50] jonathanpeppers commented on #91
Can the Rest API return a URL to the image? Then the images would need to be served as a regular file and Glide can download them for you.

I would avoid packing images inside .json, in general. Because it would get encoded as base64. If it was a URL, then you get the benefit of things like: no extra parsing, no extra copies of the data in memory, caching at HTTP layers, potential CDN, etc.

[2021-09-01 15:56] isax5 opened #92 "I can't automatically resize resource images"
For some reason, I can't use my images in resources (android resources) when this package is installed
This code doesn't work with glidex:
[code]

I checked the example project and it looks like it should work

[2021-09-01 21:47] jonathanpeppers commented on #92
So you have `Resources/drawable*/imageName.png`?

This sample has examples of this working:

https://github.com/jonathanpeppers/glidex/tree/master/glidex.forms.sample/Resources/drawable

What version of Xamarin.Forms?

[2021-09-01 21:50] isax5 commented on #92
Hi, I'm using the last versión of XF,
I checked 1000 times but everything works when I don't use Glidex, but of course, I need it for the web images!

[2021-09-02 12:38] isax5 commented on #92
Here is an example project:

https://github.com/isax5/Test_Glidex

[2021-09-08 19:36] isax5 commented on #92
If I don't set HeightRequest and WidthRequest on the Image, it doesn't adjust automatically and thus the image is not visible

[2021-09-08 19:43] isax5 commented on #92
Same as #10

[2021-09-08 19:43] #92 closed

[2021-09-21 15:52] AndreasReitberger opened #93 "Package glidex.forms 2.1.0.470 is not compatible with netstandard2.1"
I wanted to install the nuget to my app, however I get this error:
`NU1202: Package glidex.forms 2.1.0.470 is not compatible with netstandard2.1 (.NETStandard,Version=v2.1). Package glidex.forms 2.1.0.470 supports: monoandroid81 (MonoAndroid,Version=v8.1)`

Is there a specific reason why it's not compatible with NS2.1?

Thank you!

[2021-09-21 19:06] jonathanpeppers commented on #93
I think this is the same question reported here: https://github.com/jonathanpeppers/glidex/issues/66#issuecomment-655756452

`glidex.forms` only runs on Android, and so you only need to add this package to the Xamarin.Android head project. It doesn't really make sense to add to a `netstandard` library.

Hope this helps, thanks!

[2021-09-21 19:06] #93 closed

[2021-09-22 04:18] AndreasReitberger commented on #93
Thanks for letting me know. I accidentally installed the package on the PLC, not the Android project ;)

[2021-09-25 08:40] AndreasReitberger opened #94 "Image in Shell.FlyoutHeaderTemplate is not showing if Forms.Glidex is active"
Once I enable Glidex, my logo disappears in the `Shell.FlyoutHeaderTemplate`

[code]

The logo is a "Logo.png" file located in the `Drawings` folder of the Android project. All other images are working fine,
which have `Bindings` as `Source`.

This is what the Output window says:
[code]

Is there anything I missed?
Thanks!

[2021-09-29 11:26] ziomek64 opened #95 "Images from android resouces drawable sometimes don't load"
Hey,
As in the title images sometimes don't load, sometimes they do... This is what I'm getting:
`09-29 13:11:56.816 D/glidex  (28232): Loading `Gradient5.png` as an Android resource
09-29 13:11:56.881 I/android.hardware.power-service-qti(  808): Power setMode: 5 to: 0
09-29 13:11:57.108 D/glidex  (28232): IImageViewHandler of type `Android.Glide.ImageViewHandler`, instance created.
09-29 13:11:57

[2021-10-02 03:09] Paul-DotNET commented on #95
I'm also facing this issue. PNG image in drawable folder is not loading

[2021-10-02 03:15] Paul-DotNET commented on #95
It looks like setting HorizontalOptions/VerticalOptions is causing this problem. When I removed these, the same image is loading properly.

[2021-10-02 03:26] Paul-DotNET commented on #62
Hi @jonathanpeppers ! Thanks for this amazing & useful plugin.
#95 - some images from drawable folder seems not loading.

[2021-10-02 20:39] ziomek64 commented on #95
I think something is wrong with Horizontal/VerticalOptions set to start/end , because fill is working for me strangely.

[2021-10-12 15:13] jonathanpeppers commented on #95
@ziomek64 would you be able to make a small test page that shows the problem here?

https://github.com/jonathanpeppers/glidex/tree/main/glidex.forms.sample/Forms

[2021-10-12 17:13] ziomek64 commented on #95
This might be hard as I don't know what exactly causes the issue. In my case when I have this picture inside the frame, inside the grid with Vertical/HorizontalOptions to End/Start it wasn't working. On fill it was.

On the other page with just a grid it's the same.  It's not loading properly on end/start, it is on fill

With Vertical/Horizontal Options on end start I'm getting this in output
`[Vi

[2021-10-15 15:41] jonathanpeppers commented on #91
I think I answered the question here, let me know otherwise, thanks!

[2021-12-02 20:59] assaab opened #99 "Not Loading Images"
hello i am using the glidex package and its amazing how it improved my application performance , but unfortunately most of the Embedded resource images are not loaded . I Would like help in fixing this bug my app is performing soo slow without this glidex package. Thank you.

[2021-12-02 21:57] jonathanpeppers commented on #99
I'd recommend not using `EmbeddedResource`? The native Glide library doesn't know how to load `EmbeddedResource` because it is a .NET concept, so we have to copy to an intermediate `byte[]` for it to even work.

We have samples that use it, though, it should generally work:

https://github.com/jonathanpeppers/glidex/blob/ca15efd1098ad65ea78e8b791f81dbb6eda92f04/glidex.forms.sample/Forms/Images.cs#

[2021-12-02 22:07] assaab commented on #99
Sorry but I didn’t understand how to solve the issue? And you want me to do what?

[2021-12-02 22:13] jonathanpeppers commented on #99
Add a new page to the sample app that reproduces your issue?

[2021-12-02 22:16] #99 closed

[2021-12-03 16:29] assaab commented on #99
Thank you for your time i removed all my embedded images even though it ruined my whole application because using embedded images fits the image in the control without losing its quality . E.g and imagebutton control can control the size of it imagesource by changing height and width of buttom. This doesn’t happen when images are placed in drawable file in android. Thus i was obliged to reduce ima

[2021-12-03 16:56] jonathanpeppers commented on #99
Yes, make a quick page that shows your issue, and I can take a look.

It might be the Java Glide library doesn't know how to load arbitratary `byte[]` of certain images? And there isn't anything we can do about that?

[2021-12-03 17:23] assaab commented on #99
I tried to add two files one .xml named EmbbadedImage.xml that have code that call the class ImageResourceExtension to get the embbaded image.
Sorry i am new to git so i dont know if it wokred.

[2021-12-15 08:14] TheLajuj opened #102 "GlideX"

[2021-12-15 14:13] jonathanpeppers commented on #102
Do you need help with something?

[2021-12-15 14:13] #102 closed

[2021-12-15 17:57] TheLajuj commented on #102
kinda im on IOS and maybe it’s my computer but i have a pretty good one and
i can’t seem to get it to run at 60 frames

On Wed, Dec 15, 2021 at 06:13 Jonathan Peppers ***@***.***>
wrote:

[2021-12-15 17:58] jonathanpeppers commented on #102
glidex is a Xamarin wrapper around the Android Glide library. I'm not sure anything can help you here for iOS.

[2021-12-15 18:31] TheLajuj commented on #102
oh okay thank you

On Wed, Dec 15, 2021 at 09:58 Jonathan Peppers ***@***.***>
wrote:

[2021-12-24 10:01] visualbruno commented on #90
Hi Dreamescaper.
I just replaced the code in GlideExtensions.cs file:

					case UriImageSource uriSource:
						{
							if(uriSource is null || uriSource.Uri is null || string.IsNullOrEmpty(uriSource.Uri.OriginalString))
							{
								Clear (request, imageView);
								return;
							}

							builder = HandleUriImageSource (request, uriSource);
						}
						break;

No more Null Reference E

[2021-12-29 22:28] jonathanpeppers commented on #90
@visualbruno if you fixed something, would you consider sending a pull request explaining the fix? Thanks!

[2022-01-26 11:02] AmjadSaab commented on #30
@jonathanpeppers my code also show this error :
 `Failed to find GeneratedAppGlideModule. You should include an annotationProcessor compile dependency on com.github.bumptech.glide:compiler in your application and a @GlideModule annotated AppGlideModule implementation or LibraryGlideModules will be silently ignored.
[io01-26 12:50:15.907 I] Glide treats LayoutParams.WRAP_CONTENT as a request for an

[2022-01-26 14:23] jonathanpeppers commented on #30
@AmjadSaab can you share an example that causes this problem?

We could add a sample page here: https://github.com/jonathanpeppers/glidex/tree/main/glidex.forms.sample/Forms

[2022-02-04 12:16] AmjadSaab opened #104 "Image not Displaying."
If I don't set HeightRequest and WidthRequest on the Image, it doesn't adjust automatically and thus the image is not visible. I need to image height and width to be dynamic. Please i need  a solution of this issue urgently.

[2022-02-05 05:22] jonathanpeppers commented on #104
This is the same issue mentioned here: https://github.com/jonathanpeppers/glidex/issues/10#issuecomment-433109852

They somehow solved this problem in .NET MAUI, but I don't know the details. Glide is used by default in MAUI now.

If you know how to fix it, let me know! I would help with any pull requests you submit.

[2022-02-05 05:22] #104 closed, assigned to nobody

[2022-03-07 03:54] muak commented on #10
I faced this issue too.

Implementing IGlideHandler solved this problem.
However, performance may be degraded.

my workaround:

[code]

[2022-04-14 21:24] imsam67 commented on #95
I have an about page in my Xamarin Forms 5 app that displays a logo that comes from the drawable folder. It doesn't load at all. I set the `debug:true` and this is the message I'm getting:

I'm including the code on XAML page which has a background image. Interestingly, the background image i.e. "teton_snake_dimmed.jpg" shows perfectly fine. But the logo i.e. "ingrid_connect_logo.png" does NOT sho

[2022-04-14 22:30] ziomek64 opened #105 "Future for MAUI"
Is this project  gonna be continued and moved to MAUI?

Kind regards

[2022-04-14 23:23] jonathanpeppers commented on #105
dotnet/maui already uses Xamarin.Android.Glide for loading images on Android.

[2022-04-14 23:23] #105 closed, assigned to nobody

[2022-05-25 13:47] Pinox opened #106 "MAUI Support"
Hi @jonathanpeppers ,

Any idea if Glide.Xamarin will work on MAUI ?  Checking out my dependencies I am a little bit worried about this and FFImageLoading.  Does not look like FFImageLoading is supported anymore and this lib is also used by alot of XF devs.

[2022-05-25 13:50] jonathanpeppers commented on #106
MAUI uses Xamarin.Android.Glide now for loading images, so there isn't a need for this library.

I don't think you would need `FFImageLoading` either? I would maybe just file an issue on dotnet/maui if you don't see the same or better iOS image performance.

I'm going to keep this issue open, and pin it for others to see, thanks!

[2022-05-25 14:25] Pinox commented on #106
Yuppee thanks @jonathanpeppers. You are a star !! I will also post on FFImageloading repo referring to your comment.  Any idea if Maui supports "image retries" as that was very useful to me ?

[2022-05-25 14:33] jonathanpeppers commented on #106
You might see how they implemented it:
* https://github.com/dotnet/maui/pull/759
* https://github.com/dotnet/maui/pull/5198

They might need to add a way to extend this. It doesn't look clear to me how you might customize the Glide setup -- looks like you can't?

[2022-05-25 15:17] Pinox commented on #106
For iOS this might also be an option:

https://github.com/roubachof/Xamarin.Forms.Nuke

[2022-06-08 14:15] Almis90 opened #107 "Use glidex only on subclass"
Is there any way to make glidex work only on my own custom subclass? e.g.

[code]

and leave all my Image as they are?

[2022-06-08 14:21] jonathanpeppers commented on #107
You'd probably need to include glidex.forms source code in your project, and change this custom renderer:

https://github.com/jonathanpeppers/glidex/blob/e9158efd13e56c3750bb150c3056cce946c9dfa0/glidex.forms/ImageRenderer.cs#L4-L8

To something like `[assembly: ExportRenderer (typeof (GlideImage), typeof (Android.Glide.ImageRenderer))]`.

[2022-06-08 15:03] Almis90 commented on #107
That gave me an idea to make my own custom renderer and use the extensions for glide only where I need it. I didn't call `Android.Glide.Forms.Init(this);` in my MainActivity but I still had the issue where it doesn't show images from embedded resources. Does it still override something even if you don't call Init?

Edit: Nevermind found the code that causing it

[2022-06-08 16:27] jonathanpeppers commented on #107
I think if you add glidex.forms to your project at all, it's going to use the above `ImageRenderer`. The `Init()` method is mainly there to ensure the linker doesn't remove it -- if you use it other places, same thing.

[2022-06-08 23:41] Almis90 commented on #107
For my case commenting out stream image source worked, now my embedded resources are not handled by ImageViewHandler. It's a temporary solution until I find more time to for a better solution.

[code]